/.blackbox/pubring.gpg~
/.blackbox/pubring.kbx~
/.blackbox/secring.gpg
/authpass/_tools/secrets/gradle_home/upload-key.jks
/authpass/_tools/secrets/gradle_home/gradle.properties
git-buildnumber.sh
/authpass/_tools/secrets/api-project-284252947431-83b019c3ca1e.json
/authpass/_tools/deploy-key/github-deploy-key
/authpass/lib/env/secrets.dart
development_hp.dart
/tmp

/authpass/ios/vendor

Runner.app.dSYM.zip
Runner.ipa
/flutter

.flutter-plugins-dependencies
Flutter.podspec
/stargazers

/authpass/_tools/secrets/gradle_home/amazon-key.jks
settings_aar.gradle
_debug-full-r8-config.txt


# snapcraft files
/*.snap
/parts
/stage
/prime
/snap/.snapcraft

/authpass/_tools/secrets/artifact_token.txt

.vscode

metrics.json
/authpass/test/_testSecrets.json

/authpass/ios/fastlane/screenshots/**/*.png
/authpass/ios/fastlane/framed
/authpass/android/fastlane/metadata/framed
/authpass/_tools/secrets/fosshub_token.txt
/authpass/lib/env/production.dart
/authpass/_tools/secrets/AuthKey_S5PTZMY9P8.p8
/annotations*.json

/authpass/_tools/secrets/apple_distribution.p12
/authpass/_tools/secrets/apple_distribution_p12_password
/authpass/_tools/secrets/ios_appstore.mobileprovision
/authpass/_tools/secrets/ios_appstore_autofill.mobileprovision
/authpass/_tools/secrets/ApiKey_4LJJBK4Z86KR.p8

# gpg scratch file, regenerated on every keyring operation
.blackbox/random_seed
/authpass/_tools/secrets/mac_installer_distribution.p12
/authpass/_tools/secrets/mac_installer_distribution_p12_password
/authpass/_tools/secrets/macos_appstore.provisionprofile
/authpass/_tools/secrets/developer_id_application.p12
/authpass/_tools/secrets/developer_id_application_p12_password
/authpass/_tools/secrets/macos_developerid.provisionprofile
