[submodule "deps/kdbx.dart"]
	path = deps/kdbx.dart
	url = ../kdbx.dart
[submodule "deps/analytics_events"]
	path = deps/analytics_events
	url = ../../hpoul/analytics_events
[submodule "deps/biometric_storage"]
	path = deps/biometric_storage
	url = ../biometric_storage.git
