/.blackbox/pubring.gpg~
/.blackbox/pubring.kbx~
/.blackbox/secring.gpg
/authpass/_tools/secrets/gradle_home/upload-key.jks
/authpass/_tools/secrets/gradle_home/gradle.properties
git-buildnumber.sh
/authpass/_tools/secrets/api-project-284252947431-83b019c3ca1e.json
/authpass/_tools/deploy-key/github-deploy-key
/authpass/lib/env/secrets.dart
development_hp.dart
/tmp

/authpass/_tools/secrets/fastlane_match_password
/authpass/ios/vendor

/authpass/_tools/secrets/fastlane_match_certificates_id_rsa
Runner.app.dSYM.zip
Runner.ipa
