/.blackbox/pubring.gpg~
/.blackbox/pubring.kbx~
/.blackbox/secring.gpg
/authpass/_tools/secrets/gradle_home/upload-key.jks
/authpass/_tools/secrets/gradle_home/gradle.properties
git-buildnumber.sh
/authpass/_tools/secrets/api-project-284252947431-83b019c3ca1e.json
/authpass/_tools/deploy-key/github-deploy-key
/authpass/lib/env/secrets.dart
development_hp.dart
/tmp

/authpass/_tools/secrets/fastlane_match_password
/authpass/ios/vendor

/authpass/_tools/secrets/fastlane_match_certificates_id_rsa
Runner.app.dSYM.zip
Runner.ipa
/flutter
/authpass/macos/vendor
/authpass/macos/Gemfile
/authpass/macos/Gemfile.lock

.flutter-plugins-dependencies
Flutter.podspec
/stargazers

/authpass/_tools/secrets/gradle_home/amazon-key.jks
settings_aar.gradle
_debug-full-r8-config.txt


# snapcraft files
/*.snap
/parts
/stage
/prime
/snap/.snapcraft

/authpass/_tools/secrets/artifact_token.txt

.vscode

metrics.json
/authpass/test/_testSecrets.json

/authpass/ios/fastlane/screenshots/**/*.png
/authpass/ios/fastlane/framed
/authpass/android/fastlane/metadata/framed
/authpass/_tools/secrets/fosshub_token.txt
/authpass/lib/env/production.dart
/authpass/_tools/secrets/AuthKey_S5PTZMY9P8.p8
/annotations*.json

