<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="design.codeux.authpass">

    <!-- the following permission is required for samsung store.. no idea why though.
    https://stackoverflow.com/a/25907671/109219
     -->
    <uses-permission android:name="com.samsung.android.providers.context.permission.WRITE_USE_APP_FEATURE_SURVEY" />


</manifest>
