# https://gist.github.com/hpoul/b78f7a1b3cde988f3ce4d12e954367eb
#
# IDEA: Allow some configuration, which is shared across users.

/.idea/*
!.idea/runConfigurations
!.idea/runConfigurations/*
!.idea/vcs.xml
!.idea/dictionaries
!.idea/dictionaries/*
!.idea/inspectionProfiles/*
!.idea/codeStyles
!.idea/codeStyles/*
*.iml

# Java/Kotlin/Android

/.gradle
/build
/out

# JavaScript/Node.JS

/node_modules


/fastlane/metadata/**/*.png
/vendor

